@tailwind base;
@tailwind components;
@tailwind utilities;


  @font-face {
    font-family: 'integralcf';
    src: url('../../public/fonts/integralcf-bold.otf') format('opentype');
    font-weight: 700; /* Bold weight */
    font-style: normal;
  }

  @font-face {
    font-family: 'satoshi';
    src: url('../../public/fonts/Satoshi-Regular.otf') format('opentype');
    font-style: normal;
  }

  .headingText{
    font-family: 'integralcf-bold';
    font-weight: 700;
  }

  body{
    font-family: 'satoshi';
  }